<title>Ikaruga</title>

<style>
    body{
        background: {{ background }};
        color: {{ color }};
    }


</style>

<iframe width="420" height="315" src="https://www.youtube.com/embed/pMYU92IwYlg" frameborder="0" allowfullscreen></iframe>

<table>
    <tr>
        <th>Chain</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>2nd Chain</td>
        <td>200 Points</td>
    </tr>
    <tr>
        <td>3rd Chain</td>
        <td>400 Points</td>
    </tr>
    <tr>
        <td>4th Chain</td>
        <td>800 Points</td>
    </tr>
    <tr>
        <td>5th Chain</td>
        <td>1600 Points</td>
    </tr>
    <tr>
        <td>6th Chain</td>
        <td>3200 Points</td>
    </tr>
    <tr>
        <td>7th Chain</td>
        <td>6400 Points</td>
    </tr>
    <tr>
        <td>8th Chain</td>
        <td>12800 Points</td>
    </tr>
    <tr>
        <td>Max Chain</td>
        <td>25600 Points</td>
    </tr>
</table>

<br>

<a href="../ikaruga/white">White</a>
<a href="../ikaruga/black">Black</a>

<br>

<a href="../deathsmiles">Deathsmiles</a>
<a href="../mushihimesama">Mushihimesama</a>
<a href="../crimzon_clover">Crimzon_clover</a>
<a href="../ikaruga">Ikaruga</a>
<a href="../tsunderes">tsunderes</a>
<a href="../yaoi">Yaoi</a>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}" type="text/css" media="all" />
{% endblock %}